$cor-sucesso:#28a745;
$cor-erro:#dc3545;
$cor-aviso:#ffc107;


%mensagem-base{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid transparent;
    color: white;
}

.mensagem{
    &.sucesso{
        @extend %mensagem-base;
        background-color: $cor-sucesso;
        border-color: darken($cor-sucesso, 10%);
    }
    &.erro{
        @extend %mensagem-base;
        background-color: $cor-erro;
        border-color: darken($cor-erro, 10%);
    }
    &.aviso{
        @extend %mensagem-base;
        background-color: $cor-aviso;
        border-color: darken($cor-aviso, 10%);
    }
}